@page "{id:int}"
@model MyBarrelRacers.Pages.EditModel

@{
    ViewData["Title"] = "Edit Racer";
}

<h1>Edit Racer</h1>

<h4>Racer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Racer.Number" />

            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Racer.Name" class="control-label"></label>
                <input asp-for="Racer.Name" class="form-control" />
                <span asp-validation-for="Racer.Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Racer.Home" class="control-label"></label>
                <input asp-for="Racer.Home" class="form-control" />
                <span asp-validation-for="Racer.Home" class="text-danger"></span>
            </div>

            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Racer.Score" class="control-label"></label>
                <input asp-for="Racer.Score" class="form-control" />
                <span asp-validation-for="Racer.Score" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Racer.HorseName" class="control-label"></label>
                <input asp-for="Racer.HorseName" class="form-control" />
                <span asp-validation-for="Racer.HorseName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Racer.CompetitionDate" class="control-label"></label>
                <input asp-for="Racer.CompetitionDate" class="form-control" type="date" />
                <span asp-validation-for="Racer.CompetitionDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Racer.EventLocation" class="control-label"></label>
                <input asp-for="Racer.EventLocation" class="form-control" />
                <span asp-validation-for="Racer.EventLocation" class="text-danger"></span>
            </div>

            <div class="form-group form-check">
                <input asp-for="Racer.Qualified" class="form-check-input" />
                <label asp-for="Racer.Qualified" class="form-check-label"></label>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-page="./Index" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

